## Measure of Central Tendency

#### Mean(average)
#### Central tendency / mean : Average : (xÌ„)
#### Sum of total values divided by count

In [10]:
## Mean(Average)
age=[12,21,23,45,65,43,56,45,32,67,54,34]

In [11]:
import numpy as np
np.mean(age)

41.416666666666664

In [12]:
weights = [54, 45, 34, 54, 34, 67, 54, 56, 75]
np.mean(weights)

52.55555555555556

In [13]:
import seaborn as sns
df=sns.load_dataset("tips")

In [14]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [15]:
np.mean(df["total_bill"])

19.78594262295082

#### Median
#
#### Median : Arrange the values in an array in ascending order and check the middle value
#### Median is also called --> 50th percentile --> Median(2nd Quartile)
#### It is used to handle outliers.

In [16]:
np.median(age)

44.0

In [17]:
age=[12,21,23,45,65,43,56,45,32,67,54,34,200]

In [18]:
np.mean(age)

53.61538461538461

In [19]:
np.median(age)

45.0

#### Mode : Most repeated value in a data set
#### numpy.mode(array) doesn't exist in numpy library. It's in scipy
#### print(np.unique(a, return_counts=True))
#### np.unique = returns unique elemets in the array and their no of occurence for each position

In [20]:
from scipy import stats

stats.mode(age)

/tmp/ipykernel_5383/3105330284.py:3: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  stats.mode(age)

ModeResult(mode=array([45]), count=array([2]))

In [21]:
np.median(df['total_bill'])

17.795

In [22]:
stats.mode(df['total_bill'])

/tmp/ipykernel_5383/932912092.py:1: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  stats.mode(df['total_bill'])

ModeResult(mode=array([13.42]), count=array([3]))