## Imbalanced Dataset Handling
1. Upsampling
2. Down Sampling

In [1]:
import numpy as np
import pandas as pd

In [2]:
# Set the random seed for reporducibility
np.random.seed(123)

# Create a dataframe with two classes
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples*class_0_ratio)
n_class_1 = n_samples-n_class_0

n_class_0, n_class_1

(900, 100)

## Upsampling
- The lower value count is matched with the upper value count

In [3]:
class_0 = pd.DataFrame({
    "Feature_1": np.random.normal(loc=0, scale=1, size=n_class_0),
    "Feature_2": np.random.normal(loc=0, scale=1, size=n_class_0),
    "target": [0]*n_class_0
})

class_1 = pd.DataFrame({
    "Feature_1": np.random.normal(loc=0, scale=1, size=n_class_1),
    "Feature_2": np.random.normal(loc=0, scale=1, size=n_class_1),
    "target": [1]*n_class_1
})

In [4]:
df = pd.concat([class_0, class_1]).reset_index(drop=True)
df.head()

   Feature_1  Feature_2  target
0  -1.085631   0.551302       0
1   0.997345   0.419589       0
2   0.282978   1.815652       0
3  -1.506295  -0.252750       0
4  -0.578600  -0.292004       0

In [5]:
# Here we can see the data is imbalanced with a ratio of 9:1
df["target"].value_counts()

0    900
1    100
Name: target, dtype: int64

In [6]:
df_majority = df[df["target"] == 0]
df_minority = df[df["target"] == 1]

In [7]:
df_majority.head()

   Feature_1  Feature_2  target
0  -1.085631   0.551302       0
1   0.997345   0.419589       0
2   0.282978   1.815652       0
3  -1.506295  -0.252750       0
4  -0.578600  -0.292004       0

In [8]:
df_minority.head()

     Feature_1  Feature_2  target
900  -0.300232   0.139033       1
901  -0.632261   0.025577       1
902  -0.204317  -0.196443       1
903   0.213696   1.312255       1
904   1.033878   1.187417       1

In [9]:
# We use resample function from sklearn.utils library
from sklearn.utils import resample

In [10]:
df_minority_upsample = resample(df_minority, # The dataframe to upsample
    replace=True, # Sample with replacement
    n_samples=len(df_majority), # The upsampling to match
    random_state=43
)

In [11]:
df_minority_upsample.shape

(900, 3)

In [12]:
df_minority_upsample["target"].value_counts()

1    900
Name: target, dtype: int64

In [13]:
# Concatenating the majority and upscaled minority
df_upsampled = pd.concat([df_majority, df_minority_upsample]).reset_index(drop=True)

In [14]:
df_upsampled["target"].value_counts()

0    900
1    900
Name: target, dtype: int64

In [15]:
df_upsampled.shape

(1800, 3)

In [16]:
df_upsampled.head()

   Feature_1  Feature_2  target
0  -1.085631   0.551302       0
1   0.997345   0.419589       0
2   0.282978   1.815652       0
3  -1.506295  -0.252750       0
4  -0.578600  -0.292004       0

In [17]:
df_upsampled.tail()

      Feature_1  Feature_2  target
1795   0.397060  -1.259772       1
1796   0.272462   0.493580       1
1797  -0.195108   0.842652       1
1798   0.197269   2.216788       1
1799  -0.084530  -0.347959       1

## Down Sampling
- The higher value count is matched with the lower value count

In [18]:
class_0 = pd.DataFrame({
    'Feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'Feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0
})

class_1 = pd.DataFrame({
    'Feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'Feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1] * n_class_1
})

In [19]:
df = pd.concat([class_0, class_1]).reset_index(drop=True)

In [20]:
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [21]:
df_majority_downsample = resample(df_majority,  # The dataframe to down-sample
                                  replace=False,  # Sample Without replacement
                                  # to match the minority class
                                  n_samples=len(df_minority),
                                  random_state=43
                                  )

In [22]:
df_majority_downsample.shape

(100, 3)

In [23]:
df_downsample = pd.concat([df_minority, df_majority_downsample]).reset_index(drop=True)

In [24]:
df_downsample['target'].value_counts()

1    100
0    100
Name: target, dtype: int64

In [25]:
df_downsample.head()

   Feature_1  Feature_2  target
0  -0.643425   2.571923       1
1   1.551009   1.782767       1
2   1.641093   2.054318       1
3   2.133194   2.155998       1
4   1.355758   2.467810       1

In [27]:
df_downsample.tail()

     Feature_1  Feature_2  target
195  -0.327144  -2.226198       0
196  -0.453343   2.046487       0
197   0.590045   0.130762       0
198  -0.461344   0.000117       0
199   0.006392  -0.112442       0