List, Tuples, Set

List
- List are mutable

In [1238]:
l = [6, 3, 22, "Aditya",True, 5+7j, 424.32]
type(l)

list

In [1239]:
l[0]

6

In [1240]:
l[:3]

[6, 3, 22]

In [1241]:
# reverse
l[::-1]

[424.32, (5+7j), True, 'Aditya', 22, 3, 6]

In [1242]:
l[::2]

[6, 22, True, 424.32]

In [1243]:
l = l+list(["Gargi"])

In [1244]:
# List Slicing
l[3][:2]

'Ad'

In [1245]:
l * 2

[6,
 3,
 22,
 'Aditya',
 True,
 (5+7j),
 424.32,
 'Gargi',
 6,
 3,
 22,
 'Aditya',
 True,
 (5+7j),
 424.32,
 'Gargi']

In [1246]:
l.append("Ad")
l

[6, 3, 22, 'Aditya', True, (5+7j), 424.32, 'Gargi', 'Ad']

In [1247]:
l1 =[132,3123,str(546643), "Data"]
l.append(l1)
l

[6,
 3,
 22,
 'Aditya',
 True,
 (5+7j),
 424.32,
 'Gargi',
 'Ad',
 [132, 3123, '546643', 'Data']]

In [1248]:
l[-1][-2][4]

'4'

In [1249]:
# extend() - Extends list by appending from the iterables
# Iterables - The data which contains data inside its data. e.g String - contains characters
# l.extend(32) // Won't work as int is not iterable

In [1250]:
l.extend("Jehnabad")
l

[6,
 3,
 22,
 'Aditya',
 True,
 (5+7j),
 424.32,
 'Gargi',
 'Ad',
 [132, 3123, '546643', 'Data'],
 'J',
 'e',
 'h',
 'n',
 'a',
 'b',
 'a',
 'd']

In [1251]:
l.extend(["Bihar"])
l.extend([1,2,3])
l

[6,
 3,
 22,
 'Aditya',
 True,
 (5+7j),
 424.32,
 'Gargi',
 'Ad',
 [132, 3123, '546643', 'Data'],
 'J',
 'e',
 'h',
 'n',
 'a',
 'b',
 'a',
 'd',
 'Bihar',
 1,
 2,
 3]

In [1252]:
# insert() - Inserts at a given index
l2 = [43, 23432, 768, "Aditya", 83284]
l2.insert(1, "Gargi")
l2

[43, 'Gargi', 23432, 768, 'Aditya', 83284]

In [1253]:
l2.insert(-1, 89)
l2

[43, 'Gargi', 23432, 768, 'Aditya', 89, 83284]

In [1254]:
# l.pop(x) - removes element at index x. Default value = -1
l2.pop(0)
l2

['Gargi', 23432, 768, 'Aditya', 89, 83284]

In [1255]:
# Remove the last element
l2.pop()

83284

In [1256]:
# l.remove(x) - removes the first iteration of the element x from the list.
print(l2)
l2.remove(768)
print(l2)

['Gargi', 23432, 768, 'Aditya', 89]
['Gargi', 23432, 'Aditya', 89]

In [1257]:
# Removing a list item that is inside another list.
# l.remove(l[9][2])
print(l)
(l[9]).remove(3123)
print(l)

[6, 3, 22, 'Aditya', True, (5+7j), 424.32, 'Gargi', 'Ad', [132, 3123, '546643', 'Data'], 'J', 'e', 'h', 'n', 'a', 'b', 'a', 'd', 'Bihar', 1, 2, 3]
[6, 3, 22, 'Aditya', True, (5+7j), 424.32, 'Gargi', 'Ad', [132, '546643', 'Data'], 'J', 'e', 'h', 'n', 'a', 'b', 'a', 'd', 'Bihar', 1, 2, 3]

In [1258]:
print(l)
print(l[::-1]) # Reverses the list
l.reverse() # Reverses the list
print(l)

[6, 3, 22, 'Aditya', True, (5+7j), 424.32, 'Gargi', 'Ad', [132, '546643', 'Data'], 'J', 'e', 'h', 'n', 'a', 'b', 'a', 'd', 'Bihar', 1, 2, 3]
[3, 2, 1, 'Bihar', 'd', 'a', 'b', 'a', 'n', 'h', 'e', 'J', [132, '546643', 'Data'], 'Ad', 'Gargi', 424.32, (5+7j), True, 'Aditya', 22, 3, 6]
[3, 2, 1, 'Bihar', 'd', 'a', 'b', 'a', 'n', 'h', 'e', 'J', [132, '546643', 'Data'], 'Ad', 'Gargi', 424.32, (5+7j), True, 'Aditya', 22, 3, 6]

In [1259]:
li = [32, 45, 35, 5, 4534, 5435, 2878, 345]
li.sort()
li

[5, 32, 35, 45, 345, 2878, 4534, 5435]

In [1260]:
li.sort(reverse=True)
li

[5435, 4534, 2878, 345, 45, 35, 32, 5]

In [1261]:
ls = ["Aditya", "Gargi", "Gourav", "Sumit", "Supriya", "Mridul"]
ls.sort()
ls

/home/aditya/.local/lib/python3.10/site-packages/IPython/core/displayhook.py:275: UserWarning: Output cache limit (currently 1000 entries) hit.
Flushing oldest 200 entries.
  warn('Output cache limit (currently {sz} entries) hit.\n'

['Aditya', 'Gargi', 'Gourav', 'Mridul', 'Sumit', 'Supriya']

In [1262]:
ls.sort(reverse=True)
ls

['Supriya', 'Sumit', 'Mridul', 'Gourav', 'Gargi', 'Aditya']

In [1263]:
# index(x) - Index of element x
print(l)
l.index("Gargi")

[3, 2, 1, 'Bihar', 'd', 'a', 'b', 'a', 'n', 'h', 'e', 'J', [132, '546643', 'Data'], 'Ad', 'Gargi', 424.32, (5+7j), True, 'Aditya', 22, 3, 6]

14

In [1264]:
l[2] = "Hii"
print(l)

[3, 2, 'Hii', 'Bihar', 'd', 'a', 'b', 'a', 'n', 'h', 'e', 'J', [132, '546643', 'Data'], 'Ad', 'Gargi', 424.32, (5+7j), True, 'Aditya', 22, 3, 6]

In [1265]:
s = "Aditya"
# s[0] = "Hii" # can't be assigned - Strings are immutable
# But
s = s.replace("A", "Hii") # It's because S is getting allocated to a new memory allocation. It doesn't represnet mutability.
s

'Hiiditya'

Tuples
- Immutable
- Once defined element can't be altered or manipulated.

In [1266]:
t = (6, 3, 22, "Aditya",True, 5+7j, 424.32)
type(t)

tuple

In [1267]:
len(t)

7

In [1268]:
# Tuples are immutable
# t[0] = "Hello"

Set
- A collection of non-repeatitive elements
- Unique elements
- Unordered
- Unindexed
- Hashed

In [1269]:
s = {6, 3, 22, "Aditya", True, 5+7j, 424.32}
type(s)

set

In [1270]:
l3 = [1, 3, 4, 9, 312, 3434, 1, 5, 3, 6, 8, 4, "Aditya", "aditya"]
l3

[1, 3, 4, 9, 312, 3434, 1, 5, 3, 6, 8, 4, 'Aditya', 'aditya']

In [1271]:
# list(set(l3))
print(set(l3))

{1, 3, 4, 5, 6, 8, 9, 3434, 'aditya', 312, 'Aditya'}

In [14]:
list_out=[]

for i in range(0,51,10):

    list_out.append(str(i))

print(list_out)

['0', '10', '20', '30', '40', '50']